@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="no">
<head profile="http://www.w3.org/2000/08/w3c-synd/#">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="generator" content="Handcoded">
    <title>Egenerklæring</title>
    <style type="text/css">
        <!--
        body {
            background: #ffffff;
            color: #000000;
            font-family: Arial, Verdana;
        }
        -->
    </style>
</head>
<body>
    <img src="/Themes/Default/Content/img/atomia_2/no_svart.png" style="clear:both;" alt="Norid .no" title="Norid .no">
    <h1>Egenerklæring</h1>
    <p>
        Ved signering av denne erklæringen, binder abonnenten seg til vilkårene for å registrere et domenenavn under .no. Erklæringen og det regelverket som til enhver tid gjelder utgjør til sammen kontrakten mellom UNINETT Norid AS, senere kalt Norid, og abonnenten.
    </p>
    <p>
        Jeg erklærer med dette at registrering og/eller bruk av domenenavnet<br>
        - ikke er i strid med regelverket, se http://www.norid.no/navnepolitikk.html <br>
        - etter min kunnskap ikke medfører urettmessige inngrep i tredjeparts registrerte eller uregistrerte rettigheter til navnet<br>
        - ikke er i strid med norsk rett<br>
        - ikke uberettiget gir inntrykk av å angå offentlig forvaltning eller myndighetsutøvelse
    </p>
    <p>
        Jeg har satt meg inn i de kravene som regelverket stiller i forbindelse med registrering og bruk av domenenavnet, og er kjent med mine rettigheter og plikter.
    </p>
    <p>
        Jeg er kjent med at<br>
        - Norid samler inn og behandler opplysninger om domeneabonnementer for å kunne oppfylle avtalen med meg som abonnent og forvalte det norske toppdomenet på en måte som bidrar til robust drift av internett som infrastruktur.<br>
        - Norid driver en oppslagstjeneste der publikum kan slå opp et domenenavn og få informasjon om abonnementet, meg som abonnent, teknisk kontakt og teknisk oppsett, samt hvem som er forhandler for domenenavnet. Som abonnent har jeg full adgang til å oppgi en anonymisert e-postadresse i kontaktfelt så lenge adressen kan brukes til å kontakte meg.<br>
        - klager på min registrering kan behandles av Domeneklagenemnda i henhold til de regler og prosedyrer som følger av regelverket. Som abonnent blir jeg bundet av Domeneklagenemndas avgjørelse, og jeg må dekke klagegebyret hvis klager får medhold.<br>
        - Norid kan trekke tilbake et registrert domenenavn når det er åpenbart at tildelingen er i strid med forhold som er nevnt i denne erklæringen, eller som på annen måte er i strid med regelverket eller formålet bak regelverket.
    </p>
    <p>
        Som abonnent plikter jeg å følge det regelverket som til en hver tid gjelder, og holde meg oppdatert om endringer i regelverket. Et domeneabonnement må fornyes årlig. Ved å betale årsavgiften, godtar jeg det regelverket som gjelder.
    </p>
    <div>
        Domenenavn: <div style="margin:-18px 0 0 100px">@ViewBag.domains.ToString().Replace("|", "<br>")</div><br><br>
        Søkers navn: @ViewBag.companyName.ToString() <br><br>
        ID-nummer (org.nr eller PID): @ViewBag.companyNumber.ToString()<br><br>
        Navn på personen som avgir samtykke: @ViewBag.name.ToString()<br><br>
        <span style="float:right">Versjonsnummer: @Html.CommonResource("NoridVersion")</span>
        Tidsstempel: @ViewBag.time.ToString()
    </div>

</body>
</html>
